$large: "(min-width: 1280px)";
$medium: "(max-width: 1279px) and (min-width: 1000px)";
$small: "(max-width: 999px) and (min-width: 768px)";
$xsmall: "(max-width: 767px) and (min-width: 500px)";
$mobile: "(max-width: 499px)";
$xmobile: "(max-width: 370px)";
