* {
    box-sizing: border-box;
    font-weight: 500;
}

body {
    font-size: 14px;
    font-family: $defaultFont;
    margin: 0;
    padding: 0;
}

.site {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    min-height: 100vh;
}