* {
  box-sizing: border-box;
  font-weight: 500; }

body {
  font-size: 14px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EBEBEB; }

.site {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  min-height: 100vh; }

.container--110 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  padding: 0 10px; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  width: 100%; }
  @media (max-width: 767px) and (min-width: 500px) {
    .row {
      flex-direction: column; } }
  @media (max-width: 499px) {
    .row {
      flex-direction: column; } }

.row--reverse {
  flex-direction: row-reverse; }
  @media (max-width: 767px) and (min-width: 500px) {
    .row--reverse {
      flex-direction: column; } }
  @media (max-width: 499px) {
    .row--reverse {
      flex-direction: column; } }

.col-8 {
  width: 66%;
  padding: 0 10px; }
  @media (max-width: 767px) and (min-width: 500px) {
    .col-8 {
      width: 100%;
      padding: 0; } }
  @media (max-width: 499px) {
    .col-8 {
      width: 100%;
      padding: 0; } }

.col-4 {
  width: 33%;
  padding: 0 10px; }
  @media (max-width: 767px) and (min-width: 500px) {
    .col-4 {
      width: 100%;
      padding: 0; } }
  @media (max-width: 499px) {
    .col-4 {
      width: 100%;
      padding: 0; } }

.text--white {
  color: #FFFFFF; }

.rel {
  position: relative; }

.text--blue {
  color: #4149C9; }

.text--bold {
  font-weight: 800; }

.text--uppercase {
  text-transform: uppercase; }

.text--115 {
  font-size: 1.15em; }

.text--15 {
  font-size: 1.5em; }

.text--light {
  font-weight: 300; }

.text--gray {
  color: #0E0E0E; }

.anim {
  transition: all 0.3s ease;
  transition-delay: 300ms; }

.anim-slide-right {
  transform: translateX(-50%);
  transition: all 0.3s ease;
  transition-delay: 300ms; }

.anim-fade-in {
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 300ms; }

.anim-slide-left {
  transform: translateX(50%);
  transition: all 0.3s ease;
  transition-delay: 300ms; }

.anim-number-blink {
  transition: all 0.1s ease; }
  .anim-number-blink .num__bg {
    background-color: #2D85B2; }
  .anim-number-blink .num__holder {
    color: #FFFFFF; }

header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 440px;
  background: radial-gradient(at 70% 50%, #2D85B2 1%, #202D9B); }

header .container--110 {
  min-height: 440px; }

.header__logo {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: auto; }

.header__slogans {
  display: flex;
  flex-direction: column;
  padding-left: 5%; }
  @media (max-width: 767px) and (min-width: 500px) {
    .header__slogans {
      padding-left: 0px; } }
  @media (max-width: 999px) and (min-width: 768px) {
    .header__slogans {
      padding-left: 0px; } }
  @media (max-width: 499px) {
    .header__slogans {
      padding-left: 0px; } }

.header__slogan--main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 530px;
  position: relative;
  font-size: 1.85em; }
  @media (max-width: 767px) and (min-width: 500px) {
    .header__slogan--main {
      font-size: 1.7em;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 499px) {
    .header__slogan--main {
      font-size: 1.4em;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 370px) {
    .header__slogan--main {
      font-size: 1.2em;
      margin-left: auto;
      margin-right: auto; } }
  .header__slogan--main::before, .header__slogan--main::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FFFFFF; }
  .header__slogan--main::before {
    transform: translateY(5px);
    top: 0; }
  .header__slogan--main::after {
    transform: translateY(-5px);
    bottom: 0; }

.header__slogan--main span {
  max-width: 370px; }

.header__megamilions-logo {
  width: 120px;
  height: 120px; }
  @media (max-width: 767px) and (min-width: 500px) {
    .header__megamilions-logo {
      width: 90px;
      height: 90px; } }
  @media (max-width: 499px) {
    .header__megamilions-logo {
      width: 90px;
      height: 90px; } }

.header__slogan--sec {
  font-size: 2.9em;
  margin-top: 0;
  max-width: 570px; }
  @media (max-width: 1279px) and (min-width: 1000px) {
    .header__slogan--sec {
      font-size: 2.75em; } }
  @media (max-width: 999px) and (min-width: 768px) {
    .header__slogan--sec {
      font-size: 2.4em;
      max-width: 500px; } }
  @media (max-width: 767px) and (min-width: 500px) {
    .header__slogan--sec {
      font-size: 2em;
      text-align: center;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 370px; } }
  @media (max-width: 499px) {
    .header__slogan--sec {
      font-size: 1.9em;
      text-align: center;
      margin-bottom: 0; } }

@media (max-width: 767px) and (min-width: 500px) {
  .jackpot__placeholder {
    margin-top: 20px; } }

@media (max-width: 499px) {
  .jackpot__placeholder {
    margin-top: 20px; } }

@media (max-width: 767px) and (min-width: 500px) {
  .jackpot__offset {
    height: 550px; } }

@media (max-width: 499px) {
  .jackpot__offset {
    height: 550px; } }

.jackpot {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 280px;
  box-shadow: 0 0 50px rgba(40, 40, 40, 0.2); }
  @media (min-width: 1280px) {
    .jackpot {
      transform: translateY(-30px); } }
  @media (max-width: 767px) and (min-width: 500px) {
    .jackpot {
      left: 50%;
      transform: translateX(-50%); } }
  @media (max-width: 499px) {
    .jackpot {
      left: 50%;
      transform: translateX(-50%); } }

.jackpot__overlay {
  display: flex;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: -1; }
  .jackpot__overlay img {
    transition: all 0.3s ease;
    transition-delay: 100ms;
    opacity: 1; }

.jackpot__overlay--visible {
  z-index: 1;
  opacity: 1; }
  .jackpot__overlay--visible img {
    opacity: 1; }

.jackpot__header {
  height: 50px;
  background-color: #4149C9;
  width: 100%;
  text-align: center;
  line-height: 50px; }

.jackpot__container {
  margin: 8px 8px;
  height: 100%; }

.jackpot__randomize {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: solid 2px #4149C9;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-bottom: 7px; }
  .jackpot__randomize:hover {
    cursor: pointer;
    background-color: #4149C9;
    color: #FFFFFF;
    transition: all 0.3s esae; }

.jackpot__numbers-container {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .jackpot__numbers-container ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%; }
  .jackpot__numbers-container > ul > li {
    display: flex;
    flex-direction: row; }
  .jackpot__numbers-container > ul > li > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between; }
  .jackpot__numbers-container > ul > li > ul > li {
    position: relative; }
  .jackpot__numbers-container .number--offset {
    width: 13%; }
  .jackpot__numbers-container .num__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin-top: 4px; }
  .jackpot__numbers-container .num {
    position: relative;
    width: calc(13% - 2px);
    margin-left: 1px;
    margin-right: 1px;
    text-align: center; }
    .jackpot__numbers-container .num:hover {
      cursor: pointer; }
      .jackpot__numbers-container .num:hover .num__bg {
        border-color: #4149C9;
        background-color: #4149C9; }
      .jackpot__numbers-container .num:hover .num__holder {
        color: #FFFFFF; }
  .jackpot__numbers-container .num .num__holder {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    z-index: 2; }
  .jackpot__numbers-container .num__bg {
    display: block;
    position: relative;
    width: 100%;
    padding-top: calc(100% - 2px);
    border: solid 1px #EBEBEB;
    transition: all 0.3s ease; }

.jackpot__basic-numbers, .jackpot__extra-numbers {
  margin-top: 0; }

.jackpot__basic-numbers {
  margin-bottom: 9px; }

.jackpot__extra-numbers {
  margin-bottom: 4px; }

.num--active {
  transition: all 0.2s ease; }
  .num--active .num__holder {
    color: #FFFFFF;
    transition: all 0.2s ease; }
  .num--active .num__bg {
    background-color: #4149C9;
    transition: all 0.2s ease; }

.roadmap-section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 300px;
  background-color: #EBEBEB; }

.roadmap__text-col {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding-right: 5%; }
  @media (max-width: 999px) and (min-width: 768px) {
    .roadmap__text-col {
      padding-right: 0%; } }
  @media (max-width: 767px) and (min-width: 500px) {
    .roadmap__text-col {
      padding-right: 0%; } }
  @media (max-width: 499px) {
    .roadmap__text-col {
      padding-right: 0%; } }

.roadmap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 50px;
  padding-bottom: 25px; }
  @media (max-width: 767px) and (min-width: 500px) {
    .roadmap {
      flex-direction: column;
      width: 100%;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 499px) {
    .roadmap {
      flex-direction: column;
      width: 100%;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 1280px) {
    .roadmap {
      padding-right: 10%; } }
  @media (max-width: 1279px) and (min-width: 1000px) {
    .roadmap {
      padding-right: 10%; } }
  @media (max-width: 999px) and (min-width: 768px) {
    .roadmap {
      padding-right: 10%; } }
  .roadmap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-57.5%);
    width: calc(100% - 230px);
    height: 2px;
    background-color: #4149C9;
    margin-top: 50px;
    margin-bottom: 50px; }
    @media (max-width: 767px) and (min-width: 500px) {
      .roadmap::before {
        left: 0%;
        transform: translateX(0%);
        width: 2px;
        height: calc(100% - 100px); } }
    @media (max-width: 499px) {
      .roadmap::before {
        left: 0%;
        transform: translateX(0%);
        width: 2px;
        height: calc(100% - 100px);
        margin-left: 20px; } }

.roadmap__col {
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  min-height: 70px; }
  @media (max-width: 767px) and (min-width: 500px) {
    .roadmap__col {
      flex-direction: row; } }
  @media (max-width: 499px) {
    .roadmap__col {
      flex-direction: row; } }
  @media (max-width: 767px) and (min-width: 500px) {
    .roadmap__col {
      width: 100%; } }
  @media (max-width: 499px) {
    .roadmap__col {
      width: 100%; } }
  .roadmap__col:nth-child(1) {
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    @media (max-width: 767px) and (min-width: 500px) {
      .roadmap__col:nth-child(1) {
        align-items: flex-start;
        justify-content: flex-start; } }
    @media (max-width: 499px) {
      .roadmap__col:nth-child(1) {
        align-items: flex-start;
        justify-content: flex-start; } }
  .roadmap__col:nth-child(2) {
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    @media (max-width: 767px) and (min-width: 500px) {
      .roadmap__col:nth-child(2) {
        justify-content: flex-start; } }
    @media (max-width: 499px) {
      .roadmap__col:nth-child(2) {
        justify-content: flex-start; } }
  .roadmap__col:nth-child(3) {
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    @media (max-width: 767px) and (min-width: 500px) {
      .roadmap__col:nth-child(3) {
        align-items: flex-end;
        justify-content: flex-start; } }
    @media (max-width: 499px) {
      .roadmap__col:nth-child(3) {
        align-items: flex-end;
        justify-content: flex-start; } }

.roadmap__number {
  min-width: 40px;
  min-height: 40px;
  background-color: #4149C9;
  color: #FFFFFF;
  font-size: 1.3em;
  text-align: center;
  line-height: 40px;
  transform: translateY(-50%);
  border-radius: 50%; }
  @media (max-width: 767px) and (min-width: 500px) {
    .roadmap__number {
      transform: translateX(-50%); } }
  @media (max-width: 499px) {
    .roadmap__number {
      transform: translateX(-50%); } }

.roadmap__text {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0; }
  @media (max-width: 999px) and (min-width: 768px) {
    .roadmap__text {
      font-size: 1.35em; } }
  @media (max-width: 767px) and (min-width: 500px) {
    .roadmap__text {
      text-align: left;
      font-size: 1.3em; } }
  @media (max-width: 499px) {
    .roadmap__text {
      text-align: left;
      font-size: 1.15em; } }

.roadmap__button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%; }

.ticket {
  font-size: 1.5em;
  padding: 20px 80px;
  background-color: #FF4B00;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 40px;
  transition: all 0.3s ease; }
  @media (max-width: 999px) and (min-width: 768px) {
    .ticket {
      font-size: 1.35em; } }
  @media (max-width: 767px) and (min-width: 500px) {
    .ticket {
      text-align: left;
      font-size: 1.3em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 30px; } }
  @media (max-width: 499px) {
    .ticket {
      text-align: left;
      font-size: 1.15em;
      margin-left: auto;
      margin-right: auto;
      padding: 15px 60px;
      margin-top: 10px;
      margin-bottom: 30px; } }
  .ticket:hover {
    background-color: #FF6C21; }

footer {
  width: 100%;
  min-height: 130px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.9em; }

.footer__row {
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  min-height: 100px; }
  @media (max-width: 767px) and (min-width: 500px) {
    .footer__row {
      flex-direction: row; } }
  @media (max-width: 1279px) and (min-width: 1000px) {
    .footer__row {
      flex-direction: row; } }

.footer__caption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  min-height: 58px; }
  @media (max-width: 767px) and (min-width: 500px) {
    .footer__caption span {
      display: none; } }
  @media (max-width: 499px) {
    .footer__caption span {
      display: none; } }

.footer__logo {
  margin-left: 10px;
  width: 120px; }
  @media (max-width: 767px) and (min-width: 500px) {
    .footer__logo {
      width: 80px; } }
  @media (max-width: 499px) {
    .footer__logo {
      width: 80px; } }
